attrs==20.3.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
idna==3.4
jellyfish==0.11.2
jsonschema==4.17.3
lib50==3.0.7
pexpect==4.8.0
ptyprocess==0.7.0
pycparser==2.21
pyrsistent==0.19.3
PyYAML==6.0.1
requests==2.31.0
termcolor==1.1.0
urllib3==2.0.4
gunicorn==21.2.0
